{
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "rules": {
    "no-bitwise": 2,
    "curly": 2,
    "comma-dangle": [2, "never"],
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": [2, "functions"],
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-irregular-whitespace": 2,
    "use-isnan": 2,
    "space-after-keywords": [2, "always"],
    "eqeqeq": 1,
    "wrap-iife": [2, "outside"],
    "no-use-before-define": 2,
    "strict": [1, "global"],
    "space-infix-ops": 2,
    "no-caller": 2,
    "new-parens": 2,
    "no-undef": 2,
    "no-trailing-spaces": 2,
    "no-unused-vars": 2,
    "no-multi-spaces": 2,
    "func-style": [2, "expression"],
    "no-shadow": 2,
    "semi": [2, "always"]
  },
  "globals": {
    "arguments": true
  }
}
